<div class="list row">

    <div class="col-md-6">
      <h4>Alunos </h4>
      <div  *ngIf="alunos.length == 0">
        <label ><strong>Não tem alunos, adicionar no menú superior.</strong></label> 
      </div>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let aluno of alunos; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveAluno(aluno, i)"
        >
        ID:
          {{ aluno.id }}
        Nome:
          {{ aluno.nome }}
        CPF:
          {{ aluno.cpf }}

        </li>
      </ul>

    </div>
    <div class="col-md-6">
      <div *ngIf="currentAluno">
        <h4>Aluno</h4>
        <div>
          <label><strong>Nome: </strong></label> {{ currentAluno.nome }}
        </div>
        <div>
            <label><strong>CPF: </strong></label> {{ currentAluno.cpf }}
        </div>
        <div>
            <label><strong>Data de nascimiento: </strong></label>{{ currentAluno.data_NASCIMENTO }}
        </div>
        <div>
            <label><strong>Sexo: </strong></label> {{ currentAluno.sexo }}
        </div>
        <div>
          <label><strong>Email: </strong></label> {{ currentAluno.EMAIL }}
        </div>
        <div>
          <label><strong>Data de criação: </strong></label> {{ currentAluno.DATA_CRIACAO }}
        </div>
        <div>
          <label><strong>Data de alteração: </strong></label> {{ currentAluno.DATA_ALTERACAO }}
        </div>
        <div>
          <label><strong>Maior de idade: </strong></label> {{ currentAluno.MAIOR_IDADE }}
        </div>
        <div>
          <button class="btn btn-warning" routerLink="/alunos/{{ currentAluno.id }}">Editar</button>
        </div>
        
      </div>
  
      <div *ngIf="!currentAluno && alunos.length > 0">
        <br />
        <p>Favor selecionar Aluno...</p>
      </div>
    </div>
  </div>
  
