<div style="width: 400px; margin: auto;">
    <div class="submit-form" method="post" >
      <div *ngIf="!submitted">
        
        <form #userPost ="ngForm" (ngSubmit)="onSubmit(userPost.value)" >

            <div class="form-group" [formGroup]="frmAlunos">
              <label for="lnome">NOME</label>
              <input
                type="text"
                class="form-control"
                id="nome"
                placeholder="Escreva o nome"
                required
                [(ngModel)]="aluno.nome"
                name="nome"
                formControlName="nome"
                [class.is-invalid]="getNome.invalid && getNome.touched"
                maxlength="100"
              />
            </div>

            <div class="form-group" [formGroup]="frmAlunos">
                <label for="lcpf">CPF</label>
                <input
                  type="text"
                  class="form-control"
                  id="cpf"
                  placeholder="CPF"
                  required
                  [(ngModel)]="aluno.cpf"
                  name="cpf"
                  formControlName="cpf"
                  [class.is-invalid]="getCpf.invalid && getCpf.touched"
                  maxlength="11"
                />
            </div>

            <div class="form-group" [formGroup]="frmAlunos">
                <label for="lsexo">Sexo (M ou F)</label>

                <select formControlName="sexo" class="form-control" 
                [(ngModel)]="aluno.sexo"
                id="sexo" 
                placeholder="Sexo"
                [class.is-invalid]="getCpf.invalid && getCpf.touched"
                required>

                    <option disabled></option>
                    <option>M</option>
                    <option>F</option>

                </select>
            </div>

            <div class="form-group" [formGroup]="frmAlunos">
                <label for="ldata_NASCIMENTO">Data de Nascimento (dd/MM/yyyy)</label>
                <input
                  class="form-control"
                  id="data_NASCIMENTO"
                  placeholder="Escreva a data de nascimento"
                  required
                  [(ngModel)]="aluno.data_NASCIMENTO"
                  name="data_NASCIMENTO"
                  formControlName="data_NASCIMENTO"
                  [class.is-invalid]="getData_NASCIMENTO.invalid && getData_NASCIMENTO.touched"
                />

            </div>
  
            <div class="form-group" [formGroup]="frmAlunos">
              <label for="lEmail">Email</label>
              <input
                type="email"
                class="form-control"
                id="EMAIL"
                [(ngModel)]="aluno.EMAIL"
                name="EMAIL"
                email="true"
                placeholder="Email opcional"
                formControlName="primaryEmail"
                [class.is-invalid]="primEmail.invalid && primEmail.touched"
              />

            </div>

            <input
            type="hidden"
            class="form-control"
            id="id"
            [(ngModel)]="aluno.id"
            name="id"/>
            
            
            <input
            type="hidden"
            class="form-control"
            id="DATA_CRIACAO"
            [(ngModel)]="aluno.DATA_CRIACAO"
            name="DATA_CRIACAO"
            
            />

            <div>
              <div *ngIf="(getNome.invalid && getNome.touched) || getNome.dirty">
                <small *ngIf="getNome.errors?.required" class="text-danger">Nome requerido</small>
              </div>
              <div *ngIf="(getCpf.invalid && getCpf.touched) || getCpf.dirty">
                <small *ngIf="getCpf.errors?.required" class="text-danger">CPF requerido</small>
              </div>
              <div *ngIf="(getSexo.invalid && getSexo.touched) || getSexo.dirty">  
                <small *ngIf="getSexo.errors?.required" class="text-danger">Sexo requerido</small>
              </div>
              <div *ngIf="(getData_NASCIMENTO.invalid && getData_NASCIMENTO.touched) || getData_NASCIMENTO.dirty">  
                <small *ngIf="getData_NASCIMENTO.errors?.pattern" class="text-danger">Data de nascimento inválida.</small>
              </div>
              <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
                <small *ngIf="primEmail.errors?.pattern" class="text-danger">Favor forneça um email válido.</small>
              </div>     
              <div *ngIf="(getData_NASCIMENTO.invalid && getData_NASCIMENTO.touched) || getData_NASCIMENTO.dirty">
                <small *ngIf="getData_NASCIMENTO.errors?.required" class="text-danger">Favor forneça uma data de nascimento.</small>
              </div>  
              <div>
                <small  class="text-danger">{{ message}}</small>
              </div>
            </div> 


            <button class="btn btn-success"  type="submit" 
            *ngIf="(!getNome.errors?.required) && (!getCpf.errors?.required) && (!getSexo.errors?.required) && (!getData_NASCIMENTO.errors?.pattern) && (!getData_NASCIMENTO.errors?.required) && (!primEmail.errors?.pattern)"
            >
            Enviar</button>

        </form>
      </div>
  
      <div *ngIf="submitted">
        <h4>Guardado!</h4>
        <button class="btn btn-success" (click)="newAluno()">Voltar</button>
      </div>
    </div>
  </div>
  